html,
body {
	padding: 0;
	margin: 0;
	font-family: $font_family;
	transition: all .2s ease-in-out;
}

.App {
	margin: 12px;
	margin-top: 100px;

	@media screen and (max-width: 770px) {
		margin-top: 50px;
	}

	@media screen and (max-width: 450px) {
		margin-top: 12px;
	}
}

body {
	@include theme-aware('background-color', 'base-background');
	@include theme-aware('color', 'text-color');
	transition: all 0.2s ease-in-out;
}

.App {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.clb-logo {
	width: 100%;
	max-width: 300px;

	@media screen and (max-width: 500px) {
		max-width: 150px;
	}
}

h1,
h2,
h3 {
	margin: 0;
	margin-bottom: 24px;
	font-weight: 800;
	text-align: center;
}

h2 {
	font-weight: 400;
	font-size: 1.25rem;
}

.credits {
	margin: 24px 0 12px 0;
	display: flex;
	flex-flow: row;
	gap: 12px;
	font-weight: 700;

	@media screen and (max-width: 400px) {
		flex-flow: column;
	}

	a {
		display: flex;
		justify-content: center;
		color: inherit;

		svg {
			margin-right: 6px
		}
	}
}

.theme-switch {
	.MuiSwitch-switchBase {
		@include theme-aware('color', 'toggle-checked', !important);
	}

	.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
		@include theme-aware('background-color', 'toggle-checked', !important);
	}
}

button {
	border: none;
	cursor: pointer;

	&:active {
		// transform: translate(0, 1px);
		// top: 2px;
	}
}

.MuiButton-contained {
	@include theme-aware('background-color', 'button-background', !important);
	@include theme-aware('color', 'button-text-color', !important);
	font-family: $font_family !important;
	font-weight: 700 !important;
}

.MuiButton-contained.type-danger {
	@include theme-aware(
		'background-color',
		'danger-button-background',
		!important
	);
	@include theme-aware('color', 'danger-button-text-color', !important);
}

.MuiButton-contained.type-confirm {
	@include theme-aware(
		'background-color',
		'confirm-button-background',
		!important
	);
	@include theme-aware('color', 'confirm-button-text-color', !important);
}
