html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Permanent Marker', 'Roboto', sans-serif;
}

html,
body,
#root,
.App {
	width: 100%;
	height: 100%;
}

body {
	@include theme-aware('background-color', 'base-background');
	transition: all 0.2s ease-in-out;
}

.App {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
  margin-top: -5%;
}

h1,
h2,
h3 {
	margin: 0;
	margin-bottom: 24px;
}

h3 {
	font-family: 'Roboto';
}

button {
	border: none;
	cursor: pointer;

	&:active {
		transform: translate(0, 1px);
		// top: 2px;
	}
}
