// https://www.webtips.dev/how-i-theme-my-react-app-with-sass

$themes: (
	dark: (
		base-background: #181818,
		text-color: #fff,
		// Toggle
		toggle-checked: #424242,
		// Button
		button-background: #424242,
		button-text-color: white,
		danger-button-background: #c62828,
		danger-button-text-color: white,
		confirm-button-background: #2e7d32,
		confirm-button-text-color: white
	),
	light: (
		base-background: rgb(244, 244, 244),
		text-color: black,
		// Toggle
		toggle-checked: #e0e0e0,
		// Button
		button-background: #212121,
		button-text-color: white,
		danger-button-background: #c62828,
		danger-button-text-color: white,
		confirm-button-background: #2e7d32,
		confirm-button-text-color: white
	)
);

$font_family: 'Poppins', sans-serif;
