// https://www.webtips.dev/how-i-theme-my-react-app-with-sass

$themes: (
	dark: (
		base-background: #181818,
		text-color: #fff,
		// Button
		button-background: #424242,
		button-text-color: white,
	),
	light: (
		base-background: rgb(244, 244, 244),
		text-color: black,
		// Button
		button-background: black,
		button-text-color: white,
	),
);

$font_family: 'Poppins', sans-serif